body {
  font-family: 'Lato', sans-serif;
  background: #5CDB95;
}

h1 {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 72px;
  color: #EDF5E1;
}

h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #05386B;
}

h3 {
  width: 50%;
  margin: auto;
  font-family: 'Lobster', cursive;
  color: #FFFF33;
}

p {
  width: 50%;
  margin: auto;
  font-family: 'Merienda One', cursive;
}

a:link {
  text-decoration: none;
  background-image: linear-gradient(to right, #000B18, #00172D, #00264D, #02386E, #00498D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  text-decoration: underline;
  background-image: linear-gradient(to right, #990C58, #B20E66, #CC1075, #E51284, #FF1493);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
