body {
  font-family: 'Lato', sans-serif;
  background: #50C878;
}

h1 {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

h3 {
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient(to right, #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #4B0082, #EE88EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  text-align: center;
  font-family: 'Merienda One', cursive;
}

a:link {
  text-decoration: none;
  background-image: linear-gradient(to right, #0000FF, #1F1FFF, #4949FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:visited {
  text-decoration: none;
  color: hotpink
}

a:hover {
  text-decoration: underline;
  background-image: linear-gradient(to right, #E56AB3, #EF87BE, #F9A3CB, #FCBCD7, #FFCEE6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:active {
  text-decoration: underline;
  color: blue
}
